/* for navbar image aims */

#aims {
    width: 100px;
    height: 100px;
}

.directory {
    width: 90%;
    margin: auto;
    height: 50px;
}

.part1 {
    width: 90%;
    margin: auto;
}

.part1 .title2 {
    font-size: 25px;
    text-align: center;
}

.chapters {
    width: 100%;
    height: 90vh;
    display: flex;
}

.inside {
    padding: 20px;
    margin: auto;
    width: 98%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.inside .one {
    padding: 5px;
    width: 25%;
    height: 80vh;
    overflow-y: scroll;
}

.inside .two {
    padding: 5px;
    width: 70%;
    height: 80vh;
    overflow-y: scroll;
    display: block;
    text-align: center;
}

.two img {
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 80%;
}

.transition-image {
    transition: transform 0.3s ease-in-out;
    /* Smooth transition on transform property */
}

@media only screen and (max-width: 700px) and (min-width: 200px) {
    .inside {
        display: block !important;
        width: 100% !important;
    }
    .one {
        width: 100% !important;
    }
    .two {
        width: 100% !important;
    }
    .accordion,
    .accordion-item,
    .accordion-header,
    .accordion-button,
    .accordion-collapse,
    .accordion-body {
        width: 100% !important;
    }
    .title2 {
        font-size: 20px !important;
    }
    .container {
        width: 100%;
        display: flex !important;
        justify-content: space-between;
    }
    .navbar-brand {
        width: 100%;
        display: flex !important;
    }
    #aims {
        margin: auto;
        width: 70px !important;
        height: 70px !important;
    }
}